@require './code-theme'
@require './animated'
// light colors
$accentColor = #607d8b
$arrowBgColor = #ccc

// dark colors
$dark_accentColor = #607d8b
$dark_cardBackgroundColor = #252525

// badge color
$badgeTipColor = $accentColor
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// content
$contentClass = '.article-content'
$descClass = '.article-desc'

$sidebarWidth = 20rem

// ========================================================================================
// layout
// ========================================================================================
$header-height = 70px;                                           // header height
$header-shrink-height = $header-height * 0.72;                   // header shrink height
$main-content-width = 80%;                                       // main content width (PC)
$main-content-width-tablet = 86%;                                // main content width (tablet)
$main-content-width-mobile = 90%;                                // main content width (mobile)
$content-max-width = 1200px                                      // max main content width

// ========================================================================================
// media query
// ========================================================================================
// // responsive breakpoints
$media-max-width = 975px                                 // media query max width (tablet)
$media-max-width-mobile = 675px                          // media query max width (mobile)

keep-tablet()
  @media (max-width: $media-max-width )
    { block }

keep-mobile()
  @media (max-width: $media-max-width-mobile)
    { block }


// 浅色模式
.theme-mode-light
  
  --theme-content-width: 660px;
  --theme-font-base: 'PingFang SC','Microsoft YaHei';
  --theme-font-logo: 'PingFang SC','Microsoft YaHei';
  --theme-font-menu: 'PingFang SC','Microsoft YaHei';
  --theme-font-heading: 'PingFang SC','Microsoft YaHei';
  --theme-font-label: 'PingFang SC','Microsoft YaHei';
  --theme-font-print: 'PingFang SC','Microsoft YaHei';


  --bodyBg: #f4f4f4
  --mainBg: rgba(255,255,255,1)
  --sidebarBg: rgba(255,255,255,.8)
  --blurBg: rgba(255,255,255,.9)
  --customBlockBg: #f1f1f1
  --textColor: #00323c
  --textLightenColor: #0085AD
  --borderColor: rgba(0,0,0,.15)
  --codeBg: #f6f6f6
  --codeColor: #525252

  --theme-accent-color $accentColor
  --theme-sidebar-background: $accentColor linear-gradient(to bottom, $accentColor 0%, darken($accentColor, 20%) 100%);
  --theme-highlight-00: #e3eaf2;
  --theme-highlight-01: #d0dae7; 
  --theme-highlight-01-048: alpha(#d0dae7, .48);
  --theme-highlight-02: #8da1b9; 
  --theme-highlight-02-048: alpha(#8da1b9, .48); 
  --theme-highlight-03: #3c526d;
  --theme-highlight-03-085: alpha(#3c526d, .85);
  --theme-highlight-04: #111b27;
  --theme-highlight-05: #006d6d;
  --theme-highlight-06: #755f00;
  --theme-highlight-07: #005a8e;
  --theme-highlight-08: #116b00;
  --theme-highlight-09: #af00af;
  --theme-highlight-0a: #7c00aa;
  --theme-highlight-0b: #a04900;
  --theme-highlight-0c: #c22f2e;
  --theme-bg-tertiary-color #f6f8fa
  --theme-accent-color-005: alpha($accentColor, .05)
  --theme-accent-color-01: alpha($accentColor, .1)
  --theme-accent-color-02: alpha($accentColor, .2)
  --theme-accent-color-04: alpha($accentColor, .4)
  --theme-accent-color-08: alpha($accentColor, .8)

  codeThemeLight()

// 深色模式
.theme-mode-dark

  --theme-content-width: 660px;
  --theme-font-base: 'PingFang SC','Microsoft YaHei';
  --theme-font-logo: 'PingFang SC','Microsoft YaHei';
  --theme-font-menu: 'PingFang SC','Microsoft YaHei';
  --theme-font-heading: 'PingFang SC','Microsoft YaHei';
  --theme-font-label: 'PingFang SC','Microsoft YaHei';
  --theme-font-print: 'PingFang SC','Microsoft YaHei';

  --bodyBg: rgb(39,39,43)
  --mainBg: rgba(30,30,34,1)
  --sidebarBg: rgba(30,30,34,.8)
  --blurBg: rgba(30,30,34,.8)
  --customBlockBg: rgb(39,39,43)
  --textColor: rgb(155,155,170)
  --textLightenColor: #0085AD
  --borderColor: #2C2C3A
  --codeBg: #252526
  --codeColor: #fff

  --theme-accent-color: $dark_accentColor;
  --borderColor: $dark_borderColor;
  --theme-sidebar-background: $dark_accentColor;
  --theme-highlight-00: #111b27;
  --theme-highlight-01: #213043;
  --theme-highlight-01-048: alpha(#213043, .48);
  --theme-highlight-02: #3c526d;
  --theme-highlight-02-048: alpha(#3c526d, .48);
  --theme-highlight-03: #8da1b9;
  --theme-highlight-03-085: alpha(#8da1b9, .85);
  --theme-highlight-04: #e3eaf2;
  --theme-highlight-05: #66cccc;
  --theme-highlight-06: #e6d37a;
  --theme-highlight-07: #6cb8e6;
  --theme-highlight-08: #91d076;
  --theme-highlight-09: #f4adf4;
  --theme-highlight-0a: #c699e3;
  --theme-highlight-0b: #e9ae7e;
  --theme-highlight-0c: #cd6660;
  --theme-card-color: #252525;
  --theme-bg-tertiary-color #161b22
  --theme-accent-color-005: alpha($dark_accentColor, .05)
  --theme-accent-color-01: alpha($dark_accentColor, .1)
  --theme-accent-color-02: alpha($dark_accentColor, .2)
  --theme-accent-color-04: alpha($dark_accentColor, .4)
  --theme-accent-color-08: alpha($dark_accentColor, .8)


  codeThemeDark()

// 阅读模式
.theme-mode-read
  --bodyBg: rgb(236,236,204)
  --mainBg: rgba(245,245,213,1)
  --sidebarBg: rgba(245,245,213,.8)
  --blurBg: rgba(245,245,213,.9)
  --customBlockBg: rgb(236,236,204)
  --textColor: #704214
  --textLightenColor: #996633
  --borderColor: rgba(0,0,0,.15)
  --codeBg: #282c34
  --codeColor: #fff
  codeThemeDark()
